{
    "printWidth": 80,
    "singleQuote":true,
    "semi": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "endOfLine": "lf"
}